<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generated QR Code</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
  <h1>Generated QR Code</h1>
  <p>QR Code for the URL:</p>
  <p><%= url %></p>
  <img src="/qr_img.png" alt="QR Code">
  <br>
  <a href="/qr_img.png" download>Download qr_img</a> <!-- Updated link text -->
  <br>
  <form action="/" method="get">
    <button type="submit">Create Another QR</button>
  </form>
  <footer>
    Made with ❤️ by Burak
</footer>
</body>
</html>
