<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code Generator</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <h1>QR Code Generator</h1>
  <form action="/generate" method="post">
    <label for="url">Type in your URL:</label>
    <input type="text" id="url" name="url" placeholder="Enter URL" required>
    <button type="submit">Generate QR Code</button>
  </form>
  <footer>
    Made with ❤️ by Burak
</footer>
</body>
</html>
